@model IEnumerable<Core.Link>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ресурсы</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@item.Url"><img src="@item.Image" /></a>
            </td>
            <td>
                <a href="@item.Url"><h2>@item.Title</h2></a>
                @item.Description
            </td>
        </tr>
    }
</table>
